/*
 *
 * Author  : Aditya Shakya
 * Mail    : adi1090x@gmail.com
 * Github  : @adi1090x
 * Twitter : @adi1090x
 *
 */

configuration {
	font:							"Share Tech 16";
	icon-theme: 					"rose-pine-icons";
    combi-modi:                     "window,drun"; 
    drun-display-format:            "{name}";
    disable-history:                false;
    fullscreen:                     false;
	hide-scrollbar: 				true;
	sidebar-mode: 					false;
}
window {
    background-color:               @bg;
    text-color:                     @fg;
	width:							13%;
    height:                         320px;
    location:                       center;
}

@import "colors.rasi"

@import "style.rasi"
