/*
 * Clipboard History Theme
 * Matches existing rofi themes (Rosé Pine)
 */

configuration {
	font:							"Share Tech 16";
    disable-history:                false;
    fullscreen:                     false;
	hide-scrollbar: 				true;
	sidebar-mode: 					false;
}
window {
    background-color:               @bg;
    text-color:                     @fg;
	width:							45%;
    height:                         520px;
    location:                       center;
}

@import "colors.rasi"

@import "style.rasi"
